@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bungee+Spice&family=Poppins:ital,wght@1,700&family=Rubik+Moonrocks&family=Tiro+Devanagari+Hindi&display=swap');
*{
    margin: 0;
    padding:5px 5px;
  
}
body{
    font-family:'Poppins','sans-serif' !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(254, 197, 92);
    font-size: large;
    text-align: center;

   
}
.promo.title{
    font-size:40px;
    font-weight:600;
    margin-top:70px;


}
.btn-primary{
    box-shadow:none !important;
    padding:2px 6px;
    border-radius: 1px !important;
    border :2px solid rgb(29, 24, 29) !important;
    color:rgb(118, 16, 118);
    background-color:red;
}
.btn-primary:hover{
    background:red;
    color:rgb(241, 241, 241);
    border:2px solid white !important;

}
#life{
    padding:40px 50px;
}
.title::before{
    content:'';
    height:4px;
    width:100px;
    margin-inline-start:center;
    display:flex;
    border-radius:100px;
    transform:translateY(38px);
    background-color:wheat;
}
ul{
    list-style-type:none;
    font-weight: lighter;
    color: wheat;

}
ul li{
    text-align: center;
    padding:3px;
    font-weight:300;
    color :white;

}